<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
{{> main/layout/questionnaires }}
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

  </div>
</div>